Source: psmovesender
Section: devel
Priority: optional
Maintainer: Klee Dienes <klee@mit.edu>
Build-Depends: debhelper (>= 9), autotools-dev, cmake, libtinyxml-dev
Standards-Version: 3.9.4
Homepage: http://www.hadronindustries.com

Package: psmovesender
Section: devel
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}
Description: PSMove wand emulator
 This package contains development libraries and headers for the CIGI
 class library (CCL).  The CCL is a C++ language library for
 implementing CIGI in both host and IG applications.
 .
 Some features of the CCL include:
 .
  * Handles packing, unpacking, and byte swapping automatically
  * Handles output buffer management
  * Can handle most of the input buffer management with simple calls
  * Can translate between different versions of CIGI
